<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>My Wallet
     </ion-title>
     <ion-buttons [routerLink]="['/myprofile']" slot="primary">
      <ion-button>
         <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">

<div class="mywallet text-center">
  <ion-icon slot="icon-only" name="wallet"></ion-icon>
  <p>Total Balance</p>
  <h1>$24,000</h1>

  <ion-button class="m-3" [routerLink]="['/checkout/tab2']" color="primary">Add Money</ion-button>
</div>


  <ion-card class="about-card ion-padding p-0">

    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to xyz Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$45</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to jkd Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$678</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to lis Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$98</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to erf Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$12</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to acs Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$33</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to ioo Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$9</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to lis Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$98</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to erf Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$12</p>
    </div>
    <div class="border-bottom d-flex align-items-center p-3">
      <p class="m-0">Payment to acs Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$33</p>
    </div>
    <div class="d-flex align-items-center p-3">
      <p class="m-0">Payment to ioo Shop</p>
      <p class="ml-auto mb-0 text-danger font-weight-bold">-$9</p>
    </div>
    
  </ion-card>
</ion-content>
