<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>My Wallet
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="dark">
  <ion-searchbar class="p-0 mb-2" placeholder="Search List"></ion-searchbar>
  <div class="card order-item-card mb-2">
     <div class="d-flex align-items-center p-3">
        <img alt="img" class="not-found-img" src="assets/small/7.jpg">
        <div class="overflow-hidden ml-3">
           <ion-text color="primary">
              <h6 class="font-weight-bold mb-0 text-truncate">Super Store - Ludhiana</h6>
           </ion-text>
           <div class="text-truncate text-success">$233,00</div>
           <div class="small text-gray-500">
              <ion-icon name="cart-outline"></ion-icon>
              Product ID : GURDEEEP8343743
           </div>
        </div>
     </div>
     <div class="p-3">
        <ion-button class="button-block mb-0 mx-0" [routerLink]="['/singleproduct']" color="secondary">Shop Now</ion-button>
     </div>
  </div>
  <div class="card order-item-card mb-2">
     <div class="d-flex align-items-center p-3">
        <img alt="img" class="not-found-img" src="assets/small/5.jpg">
        <div class="overflow-hidden ml-3">
           <ion-text color="primary">
              <h6 class="font-weight-bold mb-0 text-truncate">Singh Store - Goa</h6>
           </ion-text>
           <div class="text-truncate text-success">$533,00</div>
           <div class="small text-gray-500">
              <ion-icon name="cart-outline"></ion-icon>
              Product ID : GURDEEEP8343743
           </div>
        </div>
     </div>
     <div class="p-3">
        <ion-button class="button-block mb-0 mx-0" [routerLink]="['/singleproduct']" color="secondary">Shop Now</ion-button>
     </div>
  </div>
  <div class="card order-item-card mb-2">
     <div class="d-flex align-items-center p-3">
        <img alt="img" class="not-found-img" src="assets/small/6.jpg">
        <div class="overflow-hidden ml-3">
           <ion-text color="primary">
              <h6 class="font-weight-bold mb-0 text-truncate">Osahan Store - Puna</h6>
           </ion-text>
           <div class="text-truncate text-success">$233,00</div>
           <div class="small text-gray-500">
              <ion-icon name="cart-outline"></ion-icon>
              Product ID : GURDEEEP8343743
           </div>
        </div>
     </div>
     <div class="p-3">
        <ion-button class="button-block mb-0 mx-0" [routerLink]="['/singleproduct']" color="secondary">Shop Now</ion-button>
     </div>
  </div>
</ion-content>