<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>Shop List
     </ion-title>
     <ion-buttons slot="primary">
        <ion-button [routerLink]="['/shoppingcart']" class="top-cart" color="primary">
           <ion-badge color="primary">3</ion-badge>
           <ion-icon slot="start" name="cart-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="dark">
  <ion-searchbar class="p-0 mb-2" placeholder="Search Favorites"></ion-searchbar>
  <div class="text-center mb-2"><small> Placed on Fri, 22 Jun, 8 PM - 11 PM </small></div>
  <img alt="img" class="single-img rounded shadow-sm mb-2" src="assets/shop.jpg">
  <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/small/1.jpg">
     </div>
     <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
            <ion-badge color="success">5% OFF</ion-badge>
         </p>
         <ion-text color="primary">
            <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)  </div>
         </ion-text>
         <div class="small text-gray-500 d-flex align-items-center justify-content-between">
            <small class="text-secondary">300 ml</small>
            <div class="input-group shop-cart-value">
               <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
               <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
               <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
               </span>
            </div>
         </div>
      </div>
  </div>
  <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/small/3.jpg">
     </div>
     <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
         </p>
         <ion-text color="primary">
            <div class="mb-2">Fresh ground Coffee (Bottle)
            </div>
         </ion-text>
        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
           <small class="text-secondary">500 gm</small>
           <div class="input-group shop-cart-value">
              <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
              <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
              <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
              </span>
           </div>
        </div>
     </div>
  </div>
  <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/small/7.jpg">
     </div>
     <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
            <ion-badge color="success">15% OFF</ion-badge>
         </p>
         <ion-text color="primary">
            <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)  </div>
         </ion-text>
         <div class="small text-gray-500 d-flex align-items-center justify-content-between">
            <small class="text-secondary">300 ml</small>
            <div class="input-group shop-cart-value">
               <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
               <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
               <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
               </span>
            </div>
         </div>
      </div>
  </div>
  <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/small/6.jpg">
     </div>
     <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
         </p>
         <ion-text color="primary">
            <div class="mb-2">Fresh ground Coffee (Bottle)
            </div>
         </ion-text>
         <div class="small text-gray-500 d-flex align-items-center justify-content-between">
            <small class="text-secondary">500 gm</small>
            <div class="input-group shop-cart-value">
               <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
               <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
               <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
               </span>
            </div>
         </div>
      </div>
  </div>
  <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/small/11.jpg">
     </div>
     <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
            <ion-badge color="success">5% OFF</ion-badge>
         </p>
         <ion-text color="primary">
            <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)  </div>
         </ion-text>
         <div class="small text-gray-500 d-flex align-items-center justify-content-between">
            <small class="text-secondary">300 ml</small>
            <div class="input-group shop-cart-value">
               <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
               <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
               <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
               </span>
            </div>
         </div>
      </div>
  </div>
  <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
     <div class="shop-cart-left">
        <img alt="img" class="not-found-img" src="assets/small/2.jpg">
     </div>
     <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
         </p>
         <ion-text color="primary">
            <div class="mb-2">Fresh ground Coffee (Bottle)
            </div>
         </ion-text>
         <div class="small text-gray-500 d-flex align-items-center justify-content-between">
            <small class="text-secondary">500 gm</small>
            <div class="input-group shop-cart-value">
               <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
               <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
               <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
               </span>
            </div>
         </div>
      </div>
  </div>
</ion-content>