.single-page-info ion-badge {
    vertical-align: bottom;
    margin: 0 0 0 8px;
}

.shop-homepage-item{
    --color: var(--ion-color-dark)
}

.bg-black{
    background: #000
}

.old-price{
    text-decoration: line-through;
    font-size: 15px;
}
.regular-price{
    font-size: 17px;
}