<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>Single Product
     </ion-title>
     <ion-buttons [routerLink]="['/shoppingcart']" slot="primary">
        <ion-button class="top-cart" color="primary">
           <ion-badge color="primary">3</ion-badge>
           <ion-icon slot="start" name="cart-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="single-page" color="dark">
  <ion-slides pager="true">
     <ion-slide>
        <img alt="img" class="single-img" src="assets/item/7.jpg">
     </ion-slide>
     <ion-slide>
        <img alt="img" class="single-img" src="assets/item/10.jpg">
     </ion-slide>
     <ion-slide>
        <img alt="img" class="single-img" src="assets/item/9.jpg">
     </ion-slide>
  </ion-slides>
  <div class="p-3">
     <div class="mb-2 card p-3 single-page-info">
        <div>
           <div class="single-page-shop">
              <ion-text color="primary">
                 <h5 class="mb-1">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)              </h5>
              </ion-text>

              <small class="text-secondary">
                 <strong>
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    Available in
                 </strong>
                 - 500 gm
              </small>
              <p class="font-weight-normal text-white mb-2 price">
               <span class="old-price mr-2">₹338.99</span> <span class="regular-price text-secondary font-weight-normal">₹190.99</span> 
               <ion-badge color="success">25% OFF</ion-badge>
              </p>
              <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                 <div class="text-success">
                    <ion-icon name="star-outline"></ion-icon>
                    4.4
                 </div>
                 <ion-button size="small" color="secondary">Buy Now</ion-button>
                 <!-- <div class="input-group shop-cart-value">
                    <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                    <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number bg-black text-white" name="quant[1]">
                    <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                    </span>
                 </div> -->
              </div>
           </div>
        </div>
     </div>
     <div class="mb-2 card p-3 single-page-info">
        <div class="short-description">
           <small class="float-right">Availability: <span class="badge badge-success">In Stock</span></small>
           <h6 class="font-weight-bold mb-3">
              Quick Overview  
           </h6>
           <p class="text-secondary"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b> Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.
           </p>
           <p class="mb-0 text-secondary"> Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hiMenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum.</p>
        </div>
     </div>
  </div>
</ion-content>
<ion-footer class="border-0">
  <button [routerLink]="['/checkout']" class="btn btn-primary btn-lg btn-block fix-btn text-left" type="button">
     <span class="float-left">
        <ion-icon name="cart-outline"></ion-icon>
        Add to cart 
     </span>
     <span class="float-right">
        <strong>$1200.69</strong> 
        <ion-icon name="arrow-forward-outline"></ion-icon>
     </span>
  </button>
</ion-footer>