<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>
        <small>Delivery Location</small><br>Bengaluru, India 
        <ion-icon [routerLink]="['/checkout/tab1']" name="create-outline"></ion-icon>
     </ion-title>
     <ion-buttons slot="primary">
        <ion-button [routerLink]="['/shoppingcart']" class="top-cart" color="primary">
           <ion-badge color="primary">3</ion-badge>
           <ion-icon slot="start" name="cart-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
  <ion-searchbar class="pt-1" placeholder="Search for products"></ion-searchbar>
</ion-header>
<ion-content color="dark">
  <div class="homepage-slider">
     <ion-slides pager="true">
        <ion-slide [routerLink]="['/shoplist']">
           <img alt="img" class="single-img" src="assets/slider/slider1.jpg">
        </ion-slide>
        <ion-slide [routerLink]="['/shoplist']">
           <img alt="img" class="single-img" src="assets/slider/slider2.jpg">
        </ion-slide>
     </ion-slides>
  </div>
  <ion-grid>
     <ion-row>
        <ion-col>
           <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/1.jpg">
        </ion-col>
        <ion-col>
           <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/2.jpg">
        </ion-col>
     </ion-row>
  </ion-grid>
  <div class="bg-primary pt-4">
     <h5 class="mb-2 text-white text-center font-weight-bold">Best of Everyday essentials</h5>
     <div [routerLink]="['/categories']" class="text-center text-white-50 h6 mb-3">View All</div>
     <ion-grid>
        <ion-row>
           <ion-col>
              <div [routerLink]="['/singleproduct']" class="p-2 shop-homepage-item bg-black">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/1.jpg">
                 </div>
                 <div class="shop-cart-right">
                    <ion-text color="primary">
                       <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton)
                     </div>
                    </ion-text>
                    <p class="font-weight-normal text-white mb-2 price">
                       <span class="old-price mr-2">₹600.99</span> <span class="regular-price text-secondary font-weight-normal">₹300.99</span> 
                       <ion-badge color="success">50% OFF</ion-badge>
                    </p>
                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-muted">2 Kg</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
           </ion-col>
           <ion-col>
              <div [routerLink]="['/singleproduct']"  class="p-2 shop-homepage-item bg-black">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/7.jpg">
                 </div>
                 <!-- <div class="shop-cart-right">
                    <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton)
                    </div>
                    <h6 class="font-weight-bold text-dark mb-2 price">$600.99 <span class="regular-price text-secondary font-weight-normal">$800.99</span></h6>
                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-secondary">2 Kg</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div> -->
                 <div class="shop-cart-right">
                  <ion-text color="primary">
                     <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton)
                   </div>
                  </ion-text>
                  <p class="font-weight-normal text-white mb-2 price">
                     <span class="old-price mr-2">₹600.99</span> <span class="regular-price text-secondary font-weight-normal">₹300.99</span> 
                     <ion-badge color="success">50% OFF</ion-badge>
                  </p>
                  <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                     <small class="text-muted">2 Kg</small>
                     <div class="input-group shop-cart-value">
                        <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                        <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                        <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                        </span>
                     </div>
                  </div>
               </div>                 
              </div>
           </ion-col>
        </ion-row>
        <ion-row>
           <ion-col>
              <div [routerLink]="['/singleproduct']"  class="p-2 shop-homepage-item bg-black">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/3.jpg">
                 </div>
                 <!-- <div class="shop-cart-right">
                    <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)
                    </div>
                    <h6 class="font-weight-bold text-dark mb-2 price">
                       $456.99 <span class="regular-price text-secondary font-weight-normal">$787.99</span> 
                       <ion-badge color="danger">5% OFF</ion-badge>
                    </h6>
                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-secondary">300 ml</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div> -->
                 <div class="shop-cart-right">
                  <ion-text color="primary">
                     <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)
                   </div>
                  </ion-text>
                  <p class="font-weight-normal text-white mb-2 price">
                     <span class="old-price mr-2">₹78.99</span> <span class="regular-price text-secondary font-weight-normal">₹60.99</span> 
                     <ion-badge color="success">5% OFF</ion-badge>
                  </p>
                  <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                     <small class="text-muted">300 ml</small>
                     <div class="input-group shop-cart-value">
                        <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                        <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                        <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                        </span>
                     </div>
                  </div>
               </div>                 
              </div>
           </ion-col>
           <ion-col>
              <div [routerLink]="['/singleproduct']"  class="p-2 shop-homepage-item bg-black">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/6.jpg">
                 </div>
                 <!-- <div class="shop-cart-right">
                    <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)
                    </div>
                    <h6 class="font-weight-bold text-dark mb-2 price">
                       $456.99 <span class="regular-price text-secondary font-weight-normal">$787.99</span> 
                       <ion-badge color="success">5% OFF</ion-badge>
                    </h6>
                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-secondary">300 ml</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div> -->
                 <div class="shop-cart-right">
                  <ion-text color="primary">
                     <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)
                   </div>
                  </ion-text>
                  <p class="font-weight-normal text-white mb-2 price">
                     <span class="old-price mr-2">₹78.99</span> <span class="regular-price text-secondary font-weight-normal">₹60.99</span> 
                     <ion-badge color="primary">5% OFF</ion-badge>
                  </p>
                  <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                     <small class="text-muted">300 ml</small>
                     <div class="input-group shop-cart-value">
                        <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                        <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                        <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                        </span>
                     </div>
                  </div>
               </div>                 
              </div>
           </ion-col>
        </ion-row>
  
     </ion-grid>
  </div>
  <ion-grid>
     <ion-row>
        <ion-col [routerLink]="['/shoplist']">
           <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/3.jpg">
        </ion-col>
     </ion-row>
  </ion-grid>
  <div>
     <ion-grid>
        <ion-row>
           <ion-col>
              <h5 class="mb-3 d-flex align-items-center">
                 Best Selling
                 <ion-button size="small" [routerLink]="['/categories']" class="ios button button-small ml-auto">View All</ion-button>
              </h5>
              <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/6.jpg">
                 </div>
                 <div class="shop-cart-right">
                     <p class="font-weight-normal text-white mb-2 price">
                        <span class="old-price mr-2">₹78.99</span> <span class="regular-price text-secondary font-weight-normal">₹60.99</span> 
                        <ion-badge color="success">5% OFF</ion-badge>
                     </p>
                     <ion-text color="primary">
                        <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)  </div>
                     </ion-text>

                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-secondary">300 ml</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
              <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-2">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/11.jpg">
                 </div>
                 <div class="shop-cart-right">
                     <p class="font-weight-normal text-white mb-2 price">
                        <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
                     </p>
                     <ion-text color="primary">
                        <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton) </div>
                     </ion-text>
                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-secondary">2 Kg</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
              <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item bg-black mb-0">
                 <div class="shop-cart-left">
                    <img alt="img" class="not-found-img" src="assets/small/2.jpg">
                 </div>
                 <div class="shop-cart-right">
                     <p class="font-weight-normal text-white mb-2 price">
                        <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
                        <ion-badge color="success">5% OFF</ion-badge>
                     </p>
                     <ion-text color="primary">
                        <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)  </div>
                     </ion-text>
                    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                       <small class="text-secondary">300 ml</small>
                       <div class="input-group shop-cart-value">
                          <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                          <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                          <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
           </ion-col>
        </ion-row>
     </ion-grid>
  </div>
  <ion-grid class="pt-0">
     <ion-row class="pt-0">
        <ion-col [routerLink]="['/shoplist']">
           <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/4.jpg">
        </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>