<ion-header class="osahan-nav">
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Categories
      </ion-title>
      <ion-buttons [routerLink]="['/shoppingcart']" slot="primary">
         <ion-button>
            <ion-icon slot="icon-only" name="add"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding my-address-page" color="dark">
   <div [routerLink]="['/shoplist']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/1.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Up to 71% OFF</p>
               <ion-text color="primary">
                  <h5 class="mb-2 font-weight-bold">Grocery & Staples</h5>
               </ion-text>
               <p class="mb-0 small text-secondary">Pulses, Atta & Other Flours, Rice & Other Grains, Dry Fruits & Nuts, Edible Oils, Ghee & Vanaspati, Spices, Salt & Sugar, Organic Staples</p>
            </div>
         </div>
      </div>
   </div>
   <div [routerLink]="['/shoplist']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/2.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Up to 25% OFF</p>
               <ion-text color="primary">
                  <h5 class="mb-2 font-weight-bold">Vegetables & Fruits</h5>
               </ion-text>
               <p class="mb-0 small text-secondary">Vegetables, Mangoes, Fruits</p>
            </div>
         </div>
      </div>
   </div>
   <div [routerLink]="['/shoplist']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/3.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Up to 65% OFF</p>
               <ion-text color="primary">
                  <h5 class="mb-2 font-weight-bold">Personal Care</h5>
               </ion-text>
               <p class="mb-0 small text-secondary">Personal Care Best offers, Safety Must Haves, Bath & Body, Hair Care, Skin Care, Oral Care, Fragrances, Face Care, Feminine Hygiene, Men's Grooming, Health And Wellness, Cosmetics
               </p>
            </div>
         </div>
      </div>
   </div>
   <div [routerLink]="['/shoplist']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/4.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Up to 65% OFF</p>
               <ion-text color="primary">
                  <h5 class="mb-2 font-weight-bold">Household Items</h5>
               </ion-text>
               <p class="mb-0 small text-secondary">Pulses, Atta & Other Flours, Rice & Other Grains, Dry Fruits & Nuts, Edible Oils, Ghee & Vanaspati, Spices, Salt & Sugar, Organic Staples</p>
            </div>
         </div>
      </div>
   </div>
   <div [routerLink]="['/shoplist']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/5.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Up to 65% OFF</p>
               <ion-text color="primary">
                  <h5 class="mb-2 font-weight-bold">Biscuits, Snacks & Chocolates</h5>
               </ion-text>
               <p class="mb-0 small text-secondary">Biscuits, Atta & Other Flours, Rice & Other Grains, Dry Fruits & Nuts, Edible Oils, Ghee & Vanaspati, Spices, Salt & Sugar, Organic Staples</p>
            </div>
         </div>
      </div>
   </div>
   <div [routerLink]="['/shoplist']" class="categories-item mb-2 card">
      <div class="gold-members p-3">
         <div class="media align-items-center">
            <div class="mr-3"><img alt="img" class="categories-img" src="assets/cate/6.png"></div>
            <div class="media-body">
               <p class="text-success m-0">Up to 23% OFF</p>
               <ion-text color="primary">
                  <h5 class="mb-2 font-weight-bold">Beverages</h5>
               </ion-text>
               <p class="mb-0 small text-secondary">Best Offers, Cold Drinks, Juices & Drinks, Tea & Coffee, Health & Energy Drinks, Water & Soda, Milk Drinks</p>
            </div>
         </div>
      </div>
   </div>

</ion-content>