<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>Cart
     </ion-title>
     <ion-buttons slot="primary">
        <ion-button [routerLink]="['/myprofile']" class="top-cart" color="primary">
           <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding shop-cart-page" color="dark">
  <div class="card mb-2">
     <div class="p-3">
        <div class="d-flex justify-content-between mb-2">
           <div class="text-secondary">M.R.P.</div>
           <div class="text-secondary">$233,00</div>
        </div>
        <div class="d-flex justify-content-between mb-2">
           <div class="text-secondary">Products Discount</div>
           <div class="text-success">-$40,00</div>
        </div>
        <div class="d-flex justify-content-between mb-2">
           <div class="text-info">
              <ion-icon name="cash-outline"></ion-icon>
              Club Member Savings
           </div>
           <div class="text-secondary">Not a member</div>
        </div>
        <div class="d-flex justify-content-between">
           <div class="text-secondary">
              Delivery Charges 
              <ion-icon class="text-danger" name="help-circle-outline"></ion-icon>
           </div>
           <div class="text-danger">+$90,00</div>
        </div>
     </div>
     <div class="d-flex justify-content-between align-items-center py-3 px-3 border-top text-dark">
        <ion-text color="primary">
           <h6 class="font-weight-bold m-0">Sub Total</h6>
        </ion-text>
        <ion-text color="primary">
           <h6 class="font-weight-bold m-0">$433,00</h6>
        </ion-text>
     </div>
  </div>
  <div class="card mb-2">
     <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item-bottom border-bottom">
        <div class="shop-cart-left">
           <img alt="img" class="not-found-img" src="assets/small/7.jpg">
        </div>
        <div class="shop-cart-right">
         <p class="font-weight-normal text-white mb-2 price">
            <span class="old-price mr-2">₹118.99</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
            <ion-badge color="success">5% OFF</ion-badge>
         </p>
           <ion-text color="primary">
              <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton)           </div>
           </ion-text>

           <div class="small text-gray-500 d-flex align-items-center justify-content-between">
              <small class="text-muted">2 Kg</small>
              <div class="input-group shop-cart-value">
                 <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                 <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                 <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                 </span>
              </div>
           </div>
        </div>
     </div>
     <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item-bottom border-bottom">
        <div class="shop-cart-left">
           <img alt="img" class="not-found-img" src="assets/small/6.jpg">
        </div>
        <div class="shop-cart-right">
            <p class="font-weight-normal text-white mb-2 price">
               <span class="old-price mr-2">₹150/00</span> <span class="regular-price text-secondary font-weight-normal">₹90.99</span> 
               <ion-badge color="success">15% OFF</ion-badge>
            </p>
           <ion-text color="primary">
              <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)
              </div>
           </ion-text>
           <div class="small text-gray-500 d-flex align-items-center justify-content-between">
              <small class="text-muted">300 ml</small>
              <div class="input-group shop-cart-value">
                 <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                 <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                 <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                 </span>
              </div>
           </div>
        </div>
     </div>
     <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item-bottom border-bottom">
        <div class="shop-cart-left">
           <img alt="img" class="not-found-img" src="assets/small/11.jpg">
        </div>
        <div class="shop-cart-right">
            <p class="font-weight-normal text-white mb-2 price">
               <span class="regular-price mr-2">₹118.99</span> 
            </p>
           <ion-text color="primary">
               <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton)           </div>
           </ion-text>
           <div class="small text-gray-500 d-flex align-items-center justify-content-between">
              <small class="text-muted">2 Kg</small>
              <div class="input-group shop-cart-value">
                 <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                 <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                 <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                 </span>
              </div>
           </div>
        </div>
     </div>
     <div [routerLink]="['/singleproduct']" class="d-flex p-3 shop-cart-item ">
        <div class="shop-cart-left">
           <img alt="img" class="not-found-img" src="assets/small/2.jpg">
        </div>
        <div class="shop-cart-right">
            <p class="font-weight-normal text-white mb-2 price">
               <span class="old-price mr-2">₹320.00</span> <span class="regular-price text-secondary font-weight-normal">₹200</span> 
               <ion-badge color="success">55% OFF</ion-badge>
            </p>
           <ion-text color="primary">
            <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle)
            </div>
           </ion-text>
           <div class="small text-gray-500 d-flex align-items-center justify-content-between">
              <small class="text-muted">300 ml</small>
              <div class="input-group shop-cart-value">
                 <span class="input-group-btn"><button disabled="disabled" class="btn btn-sm" type="button">-</button></span>
                 <input type="text" max="10" min="1" value="1" class="form-control border-form-control form-control-sm input-number text-white bg-black" name="quant[1]">
                 <span class="input-group-btn"><button class="btn btn-sm" type="button">+</button>
                 </span>
              </div>
           </div>
        </div>
     </div>
  </div>
</ion-content>
<ion-footer class="border-0">
  <button [routerLink]="['/checkout']" class="btn btn-primary btn-lg fix-btn btn-block text-left" type="button">
     <span class="float-left">
        <ion-icon name="cart-outline"></ion-icon>
        Proceed to Checkout 
     </span>
     <span class="float-right">
        <strong>$1200.69</strong> 
        <ion-icon name="arrow-forward-outline"></ion-icon>
     </span>
  </button>
</ion-footer>